# Lab 06 - Subsetting, Filtering, and Grouping Data

Complete the tasks listed below. You can submit the completed lab until 11:59 PM in the night.

<u>Requirement:</u><br>
Do your best to write Pythonic code instead of the traditional programming code.

### Task 1 (0.5 mark)

Import the necessary libraries, read the data __thanksgiving_w_age_income.csv__ from the __data__ folder, and display the first five rows of your dataset. Also get the indices for the following columns programmatically before proceeding further:

```Do you typically have gravy?"```

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

You are required to use only the indices for the above columns going forward.

In [1]:
### Write your code below this comment.
import numpy as np
import pandas as pd
pd.reset_option('display.max_columns')
df = pd.read_csv('data/thanksgiving_w_age_income.csv')
df.head(5)

,Unnamed: 0,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,...,Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region,int_age,int_income
0,0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,...,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic,18.0,75000.0
1,1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),...,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central,18.0,50000.0
2,2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,...,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain,18.0,0.0
3,3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,...,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific,30.0,200000.0
4,4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,...,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific,30.0,100000.0

In [2]:
cols = ['Do you typically have gravy?', 
        'Have you ever tried to meet up with hometown friends on Thanksgiving night?',
        'Have you ever attended a "Friendsgiving?"']
[(c,df.columns.get_loc(c)) for c in cols if c in df]

[('Do you typically have gravy?', 11),
 ('Have you ever tried to meet up with hometown friends on Thanksgiving night?',
  56),
 ('Have you ever attended a "Friendsgiving?"', 57)]

### Task 2 (0.5 mark)

Can you use conditional selection and Boolean filtering to figure out the mean age of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

You should be getting the following answers for the different combinations:

    'No' and 'No': 42.283702213279675

    'No' and 'Yes': 37.01052631578948

    'Yes' and 'No': 41.47540983606557

    'Yes' and 'Yes': 33.97674418604651

In [3]:
### Write your code below this comment.
print("'No' and 'No':",df[(df.iloc[:,56]=='No') & (df.iloc[:,57]=='No')]['int_age'].mean(), '\n')
print("'No' and 'Yes':",df[(df.iloc[:,56]=='No') & (df.iloc[:,57]=='Yes')]['int_age'].mean(), '\n')
print("'Yes' and 'No':",df[(df.iloc[:,56]=='Yes') & (df.iloc[:,57]=='No')]['int_age'].mean(), '\n')
print("'Yes' and 'Yes':",df[(df.iloc[:,56]=='Yes') & (df.iloc[:,57]=='Yes')]['int_age'].mean())

'No' and 'No': 42.283702213279675

'No' and 'Yes': 37.01052631578948

'Yes' and 'No': 41.47540983606557

'Yes' and 'Yes': 33.97674418604651

### Task 3 (1 mark)

Can you get the same results you got in __Task 2__ using a pivot table? A snapshot of the expected result is shown below.

<img align="left" src="images/task3.png" height="600" width="600">

In [4]:
### Write your code below this comment.
df.pivot_table('int_age', index=[df.iloc[:,56]], columns=df.iloc[:,57])

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

### Task 4 (1 mark)

Can you get the same results you got in __Task 3__ using the __groupby__ method? A snapshot of the expected result is shown below.

<img align="left" src="images/task4.png" height="800" width="800">

In [5]:
### Write your code below this comment.
df_grouped = df.groupby([df.iloc[:,56],df.iloc[:,57]])[['int_age']]
df_grouped.mean()

                                                                                                int_age
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         42.283702
                                                   Yes                                        37.010526
Yes                                                No                                         41.475410
                                                   Yes                                        33.976744

### Task 5 (0.5 mark)

Can you get the same results you got in __Task 4__ using the __groupby__ method but also make the output look similar to the pivot table in __Task 3__? A snapshot of the expected result is shown below.

<img align="left" src="images/task5.png" height="600" width="600">

In [6]:
### Write your code below this comment.
means = df[['int_age']].groupby([df.iloc[:,56],df.iloc[:,57]]).mean()
means.unstack()

                                                      int_age
Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

### Task 6 (0.5 mark)

Can you use conditional selection and Boolean filtering to figure out the group sizes of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

You should be getting the following answers for the different combinations:

    'No' and 'No': 499

    'No' and 'Yes': 95

    'Yes' and 'No': 184

    'Yes' and 'Yes': 173

In [7]:
### Write your code below this comment.
print("'No' and 'No':",len(df[(df.iloc[:,56]=='No') & (df.iloc[:,57]=='No')]), '\n')
print("'No' and 'Yes':",len(df[(df.iloc[:,56]=='No') & (df.iloc[:,57]=='Yes')]), '\n')
print("'Yes' and 'No':",len(df[(df.iloc[:,56]=='Yes') & (df.iloc[:,57]=='No')]), '\n')
print("'Yes' and 'Yes':",len(df[(df.iloc[:,56]=='Yes') & (df.iloc[:,57]=='Yes')]))

'No' and 'No': 499

'No' and 'Yes': 95

'Yes' and 'No': 184

'Yes' and 'Yes': 173

### Task 7 (1 mark)

Can you use __groupby__ to get the group sizes of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below. Do your results tally with those you obtained in __Task 6__?

<img align="left" src="images/task7.png" height="530" width="530">

In [8]:
### Write your code below this comment.
df_grouped.size().unstack()

Have you ever attended a "Friendsgiving?"            No  Yes
Have you ever tried to meet up with hometown fr...
No                                                  499   95
Yes                                                 184  173

### Task 8 (1 mark)

Can you use __groupby__ to group your data columns by their data types?

In [9]:
### Write your code below this comment.
grouped_type = df.groupby(df.dtypes, axis=1)
grouped_type.size()

int64       2
float64     2
object     64
dtype: int64

### Task 9 (1 mark)

Can you use __groupby__ to figure out the minimum, maximum, mean, and standard deviation for the ```int_age``` column for all those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below.

<img align="left" src="images/task9.png" height="900" width="900">

In [11]:
### Write your code below this comment.
df_grouped.agg(['min','max','mean','std'])

                                                                                             int_age  \
                                                                                                 min
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                           18.0
                                                   Yes                                          18.0
Yes                                                No                                           18.0
                                                   Yes                                          18.0

                                                                                                    \
                                                                                               max
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         60.0
                                                   Yes                                        60.0
Yes                                                No                                         60.0
                                                   Yes                                        60.0

                                                                                                         \
                                                                                                   mean
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         42.283702
                                                   Yes                                        37.010526
Yes                                                No                                         41.475410
                                                   Yes                                        33.976744


                                                                                                    std
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         15.389630
                                                   Yes                                        15.419313
Yes                                                No                                         14.449921
                                                   Yes                                        14.319232

### Task 10 (1 mark)

Can you use __groupby__ to figure out the minimum, maximum, and mean for the ```int_age``` column as well as the mean, median, and standard deviation for the ```int_income``` column for all those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below.

<img align="left" src="images/task10.png" height="950" width="950">

In [13]:
### Write your code below this comment.
df.groupby([df.iloc[:,56],df.iloc[:,57]]).agg(
    {'int_age' : ['min', 'max', 'mean'], 'int_income' : ['mean','median','std']})

                                                                                             int_age  \
                                                                                                 min
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                           18.0
                                                   Yes                                          18.0
Yes                                                No                                           18.0
                                                   Yes                                          18.0

                                                                                                    \
                                                                                               max
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         60.0
                                                   Yes                                        60.0
Yes                                                No                                         60.0
                                                   Yes                                        60.0

                                                                                                         \
                                                                                                   mean
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         42.283702
                                                   Yes                                        37.010526
Yes                                                No                                         41.475410
                                                   Yes                                        33.976744

                                                                                                int_income  \
                                                                                                      mean
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         78914.549654
                                                   Yes                                        72894.736842
Yes                                                No                                         78750.000000
                                                   Yes                                        66019.736842

                                                                                                       \
                                                                                               median
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         75000.0
                                                   Yes                                        50000.0
Yes                                                No                                         75000.0
                                                   Yes                                        50000.0


                                                                                                       std
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         59714.595863
                                                   Yes                                        60173.433551
Yes                                                No                                         57398.048121
                                                   Yes                                        57885.874290

### Task 11 (1 mark)

Can you get the group sizes of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

Also ensure that your results have a column and row labeled __'Total'__ which show the totals for each row and column respectively. A snapshot of the expected result is shown below.

<u>Hint:</u> Use __crosstab__

<img align="left" src="images/task11.png" height="600" width="600">

In [98]:
### Write your code below this comment.
pd.crosstab(df.iloc[:,56],df.iloc[:,57],margins=True, margins_name='Total')

Have you ever attended a "Friendsgiving?"            No  Yes  Total
Have you ever tried to meet up with hometown fr...
No                                                  499   95    594
Yes                                                 184  173    357
Total                                               683  268    951

### Task 12 (1 mark)

Can you aggregate the counts of your data such that the variable ```Do you typically have gravy?``` appears along the column while the following variables appear along the rows?

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below.

<u>Hint:</u> Use __crosstab__

<img align="left" src="images/task12.png" height="800" width="800">

In [92]:
### Write your code below this comment.
pd.crosstab([df.iloc[:,56],df.iloc[:,57]], 
            df['Do you typically have gravy?'],margins=True)

Do you typically have gravy?                                                                  No  \
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         39
                                                   Yes                                        12
Yes                                                No                                          9
                                                   Yes                                        17
All                                                                                           77

Do you typically have gravy?                                                                  Yes  \
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         460
                                                   Yes                                         83
Yes                                                No                                         175
                                                   Yes                                        156
All                                                                                           874

Do you typically have gravy?                                                                  All
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         499
                                                   Yes                                         95
Yes                                                No                                         184
                                                   Yes                                        173
All                                                                                           951